// mobile max-width 480px
// tablet max-width 768px
// desktop min-width 769

body, a, div, ul, li
	margin 0
	padding 0

.container
	.inner-container
		ul
			li
				text-decoration none
				list-style none
			li:hover
				background-color #f3f3f3
				box-shadow 5px 5px #111111
				cursor pointer

@media screen and (max-width 480px)
	.container
		.inner-container
			ul
				li
					border 1px solid #f3f3f3
					background-color #88aa33
					color #fff
					font-size 40px
					text-align center
					padding 5px
					margin 5px
					border-radius 4px
					text-decoration none
					list-style none

@media screen and (min-width 481px) and (max-width 768px)
	.container
		.inner-container
			ul
				li
					border 1px solid #f3f3f3
					background-color #742
					color #fff
					font-size 30px
					padding 5px
					margin 5px
					border-radius 10px

@media screen and (min-width 769px)
	.container
		.inner-container
			ul
				li
					border 1px solid #f3f3f3
					background-color #44ff11
					margin 5px
					padding 8px
					text-align center
					width 70px
					height 25px
					float left
					line-height 25px
					font-size 20px


