body, div
	margin 0
	padding 0

.psuperior
	font-size 25px
	font-weight bold
	border 1px solid #050505
	line-height 30px
	height 30px

.buttonplus
	width 450px
	height 50px
	font-size 25px
	color #fff
	cursor pointer
	text-align center
	background: rgb(77,225,137)
	background: linear-gradient(90deg, rgba(77,225,137,1) 0%, rgba(77,225,137,1) 31%, rgba(145,224,97,1) 100%)

.buttonplus:hover
	background: rgb(64,128,90)
	background: linear-gradient(90deg, rgba(64,128,90,1) 0%, rgba(77,157,225,1) 31%, rgba(71,117,43,1) 100%) 